@font-face {
  font-family: 'Andale Mono';
  src: url("../fonts/andale-mono.ttf");
}

@font-face {
  font-family: 'Blissful Thinking';
  src: url("../fonts/blissful-thinking.ttf");
}

Button,
.clickable {
  -fx-cursor: hand;
}

Button,
Font[name="Blissful Thinking"] {
  -fx-font-family: "Blissful Thinking";
}

Font[name="Andale Mono"] {
  -fx-font-family: "Andale Mono";
}
